$background-pink: #f0948e
$footer-cream: #fffefe

.bg
    background: $background-pink

body
    margin-bottom: 60px

a:link
    color: black
.top-menu
    color: black

footer
    background: $footer-cream
    height: 60px

.homepage-image
    border-radius: 20pt
    height: auto
    max-width: 100%
